@keyframes rhythmical-slime-appearing {
  0% {
    transform: translateY(20vh);
    opacity: 100;
  }
  70% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes rhythmical-slime-disappearing {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-1rem);
  }
  99% {
    transform: translateY(20vh);
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
