@keyframes loading-slime {
  0%,
  100% {
    transform: scaleY(0.75);
  }
  25% {
    transform: scaleY(1.1) translateY(-30%);
  }
  50%,
  80% {
    transform: scaleY(1) translateY(0%);
  }
}
@keyframes loading-slime2 {
  0%,
  100% {
    transform: scaleY(0.75);
    opacity: 1;
  }
  25% {
    transform: scaleY(1.1) translateY(-30%);
    opacity: 0;
  }
  50%,
  80% {
    transform: scaleY(1) translateY(0%);
    opacity: 1;
  }
}
