@import "tailwindcss";
@theme {
  --breakpoint-override: 0;
  --breakpoint-main-wide: 48rem; /* タイトルと各タブの内容が別ページ */
  --breakpoint-footer-wide: 36rem; /* Footerのナビゲーションを横並びにする */
  --breakpoint-footer-wide2: 36rem; /* build情報を横並びにする */
  --breakpoint-edit-wide: 50rem; /* editのPC表示 */
  --breakpoint-share-yt-wide: 60rem; /* shareでYouTubeを表示する場所が変わる */
  --color-orange-975: #20100a;
  --color-amber-975: #20180a;
}
@custom-variant dark (&:where(.dark, .dark *));

/* noto-sans-latin-400-normal */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans@5.1.1/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans@5.1.1/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* noto-sans-jp-japanese-400-normal */
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-jp@5.1.1/japanese-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-jp@5.1.1/japanese-400-normal.woff)
      format("woff");
}

/* merriweather-latin-400-normal */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@5.1.1/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/merriweather@5.1.1/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* kaisei-opti-japanese-400-normal */
@font-face {
  font-family: "Kaisei Opti";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/kaisei-opti@5.1.1/japanese-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/kaisei-opti@5.1.1/japanese-400-normal.woff)
      format("woff");
}

.font-title,
.font-main-ui.font-title {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}
.font-main-ui,
body {
  font-family: "Merriweather", "Kaisei Opti", serif;
}

/* tailwind css の user-select: none だけでは足りなかった */
.select-none {
  /*//選択制御*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*//ポップアップメニュー表示制御*/
  -webkit-touch-callout: none;
}
.appearance-none {
  appearance: none;
  -webkit-appearance: none;
}
