@layer components {
  .fn-modal-bg {
    @apply fixed inset-0 grid place-content-center place-items-center grid-rows-1 grid-cols-1 bg-slate-100/70 dark:bg-stone-900/50 z-20;
  }

  .fn-box-style {
    @apply bg-white/50 dark:bg-stone-700/50 backdrop-blur-xs;
    @apply inset-shadow-button inset-shadow-slate-300/25 dark:inset-shadow-stone-950/25;
  }

  .fn-box-border-style-1 {
    @apply absolute inset-0 z-2 rounded-[inherit] pointer-events-none;
    @apply border border-white/100 dark:border-stone-400/50;
    @apply mask-linear-160 mask-linear-from-black mask-linear-to-transparent mask-linear-to-50%;
  }

  .fn-box-border-style-2 {
    @apply absolute inset-0 z-1 rounded-[inherit] pointer-events-none;
    @apply border border-slate-300/80 dark:border-stone-900/30;
    @apply -mask-linear-20 mask-linear-from-black mask-linear-to-transparent mask-linear-to-100%;
  }
}
