@layer components {
  .fn-modal-bg {
    @apply fixed inset-0 grid-centering bg-slate-100/50 dark:bg-stone-900/50 z-modal-bg;
  }

  .fn-box {
    /* for Box component */
    @apply rounded-sq-box grid grid-cols-1 grid-rows-1;
    @apply overflow-hidden;
    @apply relative;

    > .fn-box-inner {
      @apply w-full h-full;
      @apply overflow-hidden;

      > :last-child {
        @apply mb-0!;
      }
    }
  }

  .fn-centered-box-bg {
    /* for CenterBox component */
    @apply absolute inset-0 grid-centering;
    @apply pointer-events-none;

    > .fn-box {
      @apply w-max h-max max-w-full max-h-full text-center;
      @apply pointer-events-auto;
    }
  }

  .fn-warning-box {
    /* for WarningBox component */
    @apply text-center text-sm mx-6 my-2 p-3 h-max;
    @apply rounded-sq-2xl;
    @apply relative;
  }
}
