@layer components {
  .fn-button-shadow-style {
    @apply shadow-slate-500/50 dark:shadow-stone-950/50;
  }

  .fn-button-style-disabled {
    @apply appearance-none;
    @apply relative m-0.5 h-10 py-1.5 px-2.5 min-w-max text-center content-center cursor-default;
    @apply border border-blue-300/50 dark:border-amber-800/30 rounded-xl;
    @apply bg-slate-300/50 dark:bg-stone-700/50;
  }

  .fn-button-style {
    @apply appearance-none;
    @apply relative m-0.5 h-10 py-1.5 px-2.5 min-w-max text-center content-center cursor-pointer;
    @apply rounded-xl;
    @apply bg-blue-50/75 bg-gradient-to-t from-blue-200/75 to-blue-50/75;
    @apply dark:bg-amber-800/75 dark:from-amber-950/75 dark:to-amber-800/75;
    @apply shadow-sm;
    @apply shadow-slate-500/50 dark:shadow-stone-950/50;
    &:active {
      @apply bg-blue-200/75 from-blue-200/75 to-blue-200/75;
      @apply dark:bg-amber-950/75 dark:from-amber-950/75 dark:to-amber-950/75;
      @apply inset-shadow-button inset-shadow-blue-400/50 dark:inset-shadow-amber-975/75;
    }
  }

  .fn-button-border-style-1 {
    @apply absolute inset-0 z-2 rounded-[inherit] pointer-events-none;
    @apply border border-white/80! dark:border-stone-300/50!;
    @apply mask-linear-160 mask-linear-from-black mask-linear-to-transparent mask-linear-to-75%;
    @apply opacity-100;
  }

  .fn-button-border-style-2 {
    @apply absolute inset-0 z-1 rounded-[inherit] pointer-events-none;
    @apply border border-blue-300/80! dark:border-amber-800/50!;
    @apply -mask-linear-20 mask-linear-from-black mask-linear-to-transparent mask-linear-to-75%;
  }
}
