@layer components {
  .fn-chart-list {
    /* 背景 */
    @apply rounded-md bg-sky-400/15 dark:bg-orange-700/10;

    /* 選択可能な chart-list item は、 .fn-flat-button.fn-sky.fn-chart-list */
    &.fn-flat-button {
      @apply block w-full text-left cursor-pointer;
      @apply pl-1.5 py-0.5;
      @apply relative;
      @variant hover {
        @apply shadow-sm shadow-slate-500/50 dark:shadow-stone-950/50;
      }
    }
  }
}
