@layer components {
  .fn-chart-list {
    @apply grid w-full mx-auto justify-items-start items-center mb-1;
    gap: var(--item-gap);

    /*
    ~48rem: 1列 -> 24~48rem -> max-width:36rem
    ~72rem: 2列 -> 24~36rem
    ~88rem(w-main): 3列 -> 24~
    */

    /* getComputedStyle() で取得したいので、remでの記述に揃え、calc()は使わない */
    --item-min-width: 24rem;
    --item-max-width: 36rem;
    --item-gap: 0.375rem;
    --item-height: 4rem;
    @variant main-wide {
      --item-height: 5.375rem;
    }

    &.fn-cl-small {
      --item-min-width: 18rem;
      --item-max-width: 27rem;
      --item-gap: 0.25rem;
      --item-height: 2.75rem;

      .fn-thumbnail {
        @apply h-9!;
      }
    }

    &.fn-cl-big {
      --item-min-width: 21.5rem;
      --item-max-width: 21.5rem;
      --item-gap: 0.5rem;
      --item-height: 18.5rem;

      .fn-cl-item {
        @apply rounded-sq-xl!;
      }
      .fn-flat-button {
        @apply flex-col! items-stretch! p-3!;
      }
      .fn-thumbnail {
        @apply h-45!;
      }
    }

    grid-template-columns: repeat(
      auto-fill,
      minmax(min(var(--item-min-width), 100%), 1fr)
    );
    /*max 3 columns*/
    max-width: calc(4 * var(--item-min-width) - 0.1rem);

    .fn-cl-item {
      @apply rounded-md;
      @apply w-full mx-auto h-max;
      max-width: var(--item-max-width);
      /*min-height: var(--item-height);*/

      &:has(.fn-sky),
      &.fn-cl-empty {
        @apply bg-sky-400/10 dark:bg-orange-700/10;
      }

      &.fn-cl-empty {
        height: var(--item-height);
      }

      /* 選択可能な chart-list item は、.fn-cl-item > .fn-flat-button.fn-sky と定義される */
      > .fn-flat-button {
        @apply rounded-[inherit] sq-inherit;
        @apply block w-full text-left cursor-pointer;
        @apply pl-1 py-1;
        @apply relative;
        @apply flex flex-row items-center gap-2;

        @variant hover {
          @apply shadow-xs shadow-slate-500/50 dark:shadow-stone-950/50;
        }

        > .fn-thumbnail {
          @apply flex-none;
          @apply aspect-video h-11 main-wide:h-16 object-cover object-center;
        }

        > .fn-cl-content {
          @apply flex-1 min-w-0 flex flex-col items-start justify-center;
          @apply fg-base; /* .fn-flat-button.fn-color-thief の場合に文字色を元に戻す */

          .fn-cl-clip {
            /* clipとellipsisを適用する */
            @apply max-w-full overflow-x-clip overflow-y-visible whitespace-nowrap text-ellipsis;
          }

          > * {
            @apply flex items-baseline w-full;
          }
        }
      }
    }
  }

  .fn-cl-message {
    @apply absolute inset-x-0 top-0 w-max mx-auto translate-y-2.5;
    /* 下に移動する場合はinlineスタイルで top: を指定 */
  }
  .fn-cl-more {
    @apply block w-max mx-auto h-6 mt-2;
  }
}
