@layer components {
  .fn-checkbox {
    &:not(:has(input:disabled)) {
      @apply hover:text-slate-500 hover:dark:text-stone-500;
    }

    &:has(input:disabled) {
      label {
        @apply line-through;
      }
    }

    label {
      /*複数行のlabelを許可*/
      @apply text-wrap;
    }
    /*labelが複数行になる場合にチェックボックスの位置がバグるのをでっちあげ修正
    (元々の指定は top: calc(0% - (100% - 1em) - 8%))*/
    svg,
    label::before,
    label::after {
      top: -0.08em !important;
    }
  }
}
