@layer components {
  .fn-flat-button {
    @apply relative cursor-pointer;

    > .fn-glass-1 {
      @apply opacity-0;
    }
    > .fn-glass-2 {
      @apply opacity-0;
    }
    @variant hover {
      > .fn-glass-1 {
        @apply opacity-100;
      }
      > .fn-glass-2 {
        @apply opacity-100;
      }
    }
    @variant active {
      @apply inset-shadow-button;
      > .fn-glass-1 {
        @apply opacity-0;
      }
      > .fn-glass-2 {
        @apply mask-none;
      }
    }

    &.fn-selected {
      > .fn-glass-1 {
        @apply opacity-100;
      }
      > .fn-glass-2 {
        @apply opacity-100;
      }
    }
  }

  .fn-sky {
    @apply hover:bg-sky-200 hover:dark:bg-orange-950;
    @apply active:bg-sky-200 active:dark:bg-orange-950;
    @apply inset-shadow-sky-300/50 dark:inset-shadow-orange-975/75;
    > .fn-glass-1 {
      @apply border-white/80 dark:border-stone-300/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-sky-300/80! dark:border-orange-800/50!;
      @apply mask-linear-to-75%;
    }

    &.fn-chart-list {
      /* @apply rounded-md bg-sky-200/50 dark:bg-orange-950/50; in chart-list.css */
      @apply block w-full text-left cursor-pointer;
      @apply pl-1.5 py-0.5;
      @apply relative;
      @apply hover:shadow-sm shadow-slate-500/50 dark:shadow-stone-950/50;
    }

    &.fn-play-option {
      @apply bg-sky-200/25 dark:bg-orange-950/25;
      @apply inset-shadow-button inset-shadow-sky-300/15 dark:inset-shadow-orange-975/15;
    }

    &.fn-caption {
      @apply backdrop-blur-xs;
      @apply bg-sky-200/50 dark:bg-orange-950/50;
      @apply inset-shadow-button inset-shadow-sky-300/15 dark:inset-shadow-orange-975/15;
    }
  }

  .fn-inverted {
    @apply hover:bg-orange-200 hover:dark:bg-sky-950;
    @apply active:bg-orange-200 active:dark:bg-sky-950;
    @apply inset-shadow-orange-300/50 dark:inset-shadow-sky-975/75;
    > .fn-glass-1 {
      @apply border-white/80 dark:border-stone-300/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-orange-300/80! dark:border-sky-800/50!;
      @apply mask-linear-to-75%;
    }
  }

  .fn-plain {
    /* .fn-flat-button.fn-plain is completely same color as .fn-plain in box.css */
  }
}
