@layer components {
  /*
  .fn-whatever-theme > .fn-glass-1 での色の指定と組み合わせて使う。
  親にrelativeまたはabsoluteが必要。(glass.cssでは指定していない)
  */
  .fn-glass-1 {
    @apply absolute inset-0 z-2 rounded-[inherit] sq-inherit pointer-events-none;
    @apply border;
    @apply mask-linear-160 mask-linear-from-black mask-linear-to-transparent;
  }
  .fn-glass-2 {
    @apply absolute inset-0 z-1 rounded-[inherit] sq-inherit pointer-events-none;
    @apply border;
    @apply -mask-linear-20 mask-linear-from-black mask-linear-to-transparent;
  }

  .fn-plain {
    @apply bg-white/50 dark:bg-stone-700/50 backdrop-blur-xs;
    @apply inset-shadow-button inset-shadow-slate-300/25 dark:inset-shadow-stone-950/25;

    > .fn-glass-1 {
      @apply border-white/100 dark:border-stone-400/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-slate-300/80 dark:border-stone-900/30;
      @apply mask-linear-to-100%;
    }
  }

  .fn-warning-box {
    @apply bg-amber-400/25 backdrop-blur-xs;
    @apply inset-shadow-button inset-shadow-amber-800/10;

    > .fn-glass-1 {
      @apply border-white/80 dark:border-stone-300/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-amber-600/25;
      @apply mask-linear-to-100%;
    }
  }

  .fn-color-thief {
    @apply inset-shadow-button inset-shadow-slate-300/25 dark:inset-shadow-stone-950/25;
    background-color: color-mix(in oklab, currentColor 50%, var(--color-white));
    @variant dark {
      background-color: color-mix(
        in oklab,
        currentColor 50%,
        var(--color-stone-700)
      );
    }

    > .fn-glass-1 {
      /* same as plain */
      @apply border-white/100 dark:border-stone-400/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-current/75;
      @apply mask-linear-to-100%;
    }
  }

  .fn-sky {
    /* no background by default. */
    /* hover and active variant -> .fn-flat-button in flat-button.css */
    @apply inset-shadow-sky-300/50 dark:inset-shadow-orange-975/75;
    > .fn-glass-1 {
      @apply border-white/80 dark:border-stone-300/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-sky-300/80! dark:border-orange-800/50!;
      @apply mask-linear-to-75%;
    }

    &.fn-play-option {
      @apply bg-sky-200/25 dark:bg-orange-950/25;
      @apply inset-shadow-button inset-shadow-sky-300/15 dark:inset-shadow-orange-975/15;
    }

    &.fn-caption {
      @apply backdrop-blur-xs;
      @apply bg-sky-200/50 dark:bg-orange-950/50;
      @apply inset-shadow-button inset-shadow-sky-300/15 dark:inset-shadow-orange-975/15;
    }
  }

  .fn-inverted {
    /* no background by default. */
    /* hover and active variant -> flat-button.css */
    @apply inset-shadow-orange-300/50 dark:inset-shadow-sky-975/75;

    > .fn-glass-1 {
      @apply border-white/80 dark:border-stone-300/50;
      @apply mask-linear-to-50%;
    }
    > .fn-glass-2 {
      @apply border-orange-300/80! dark:border-sky-800/50!;
      @apply mask-linear-to-75%;
    }
  }

}
