@layer components {
  .fn-input {
    @apply mx-1 px-1;
    @apply border-0 border-b border-fg-base/60 dark:border-fg-base-dark/60;
    @apply bg-transparent appearance-none rounded-none;

    @variant disabled {
      /* textだけでなくborderにも透明度を適用する */
      /* @apply text-dim; */
      opacity: var(--alpha-dim);

      @apply cursor-not-allowed;
    }

    &.fn-invalid {
      @apply text-red-500;

      @variant disabled {
        @apply text-inherit;
      }
    }
  }
}
