body.fn-csr-ready {
  @apply fg-base;

  > .fn-fallback-bg {
    @apply fixed inset-0 pointer-events-none z-fallback-bg;
    @apply bg-gradient-to-t;
    @apply bg-sky-50 from-sky-50 to-sky-200;
    @apply dark:bg-orange-950 dark:from-orange-950 dark:to-orange-975;
  }
}

@layer components {
  .fn-irasutoya-like-bg {
    /* absoluteにするとなぜかSafariでパフォーマンスが大幅に低下する。 */
    @apply fixed inset-0 pointer-events-none z-irasutoya-like-bg;

    #bgGradient > stop {
      &:nth-child(1) {
        stop-color: var(--color-sky-200);
        @variant dark {
          stop-color: var(--color-orange-975);
        }
      }
      &:nth-child(2) {
        stop-color: var(--color-sky-50);
        @variant dark {
          stop-color: var(--color-orange-950);
        }
      }
    }
  }
  .fn-irasutoya-like-grass-far {
    @apply fixed pointer-events-none z-irasutoya-like-grass-far;

    rect:not(.dummy) {
      fill: var(--color-lime-600);
      @variant dark {
        fill: var(--color-lime-900);
      }
    }
  }
  .fn-irasutoya-like-grass-near {
    @apply fixed pointer-events-none z-irasutoya-like-grass-near;

    #grassPattern > g {
      fill: var(--color-lime-200);
      @variant dark {
        fill: var(--color-lime-600);
      }
    }
    #grassGradient > stop {
      &:nth-child(1) {
        stop-color: var(--color-lime-300);
        @variant dark {
          stop-color: var(--color-lime-700);
        }
      }
      &:nth-child(2) {
        stop-color: var(--color-lime-500);
        @variant dark {
          stop-color: var(--color-lime-800);
        }
      }
      &:nth-child(3) {
        stop-color: var(--color-lime-600);
        @variant dark {
          stop-color: var(--color-lime-900);
        }
      }
    }
  }
}
