:root {
  &:not(:has(> body > .fn-body-scrollable)) {
    @apply w-screen h-(--100dvh) overflow-hidden;
  }
  &:has(> body > .fn-body-scrollable) {
    @apply w-full min-h-(--100dvh) overflow-x-clip;
  }
  &:has(> body.fn-csr-ready) {
    --fn-theme-top: var(--color-sky-200);
    --fn-theme-bottom: var(--color-sky-50);
    &:has(> .dark) {
      --fn-theme-top: var(--color-orange-975);
      --fn-theme-bottom: var(--color-orange-950);
    }
    /*
    モバイル表示のplayページでは上側を動画のテーマカラーに、下側をgrassの色に変更する。
    ついでにtheme-colorも動画のテーマカラーに変えている (color-mixがないのでちょっと色違うけど)
    */
    &:has(.fn-play-music-area-ok) {
      @variant portrait {
        --fn-theme-top: color-mix(
          in oklab,
          var(--fn-play-current-color) 50%,
          var(--color-white)
        );
        &:has(> .dark) {
          --fn-theme-top: color-mix(
            in oklab,
            var(--fn-play-current-color) 50%,
            var(--color-stone-700)
          );
        }
      }
      --fn-theme-bottom: var(--color-lime-600);
      &:has(> .dark) {
        --fn-theme-bottom: var(--color-lime-900);
      }
    }

    /* safariのツールバーの色がhtmlのbackgroundを参照するようなので、テーマカラーを設定しておく */
    /* ここでgradientを設定するのは意味ない。body-scrollableの画面ではhtmlの高さは100dvhでないため */
    background: var(--fn-theme-top);

    &:not(:has(> body > .fn-body-scrollable)) {
      /*
      iOS26以降では、fixedのブロックを上下端に置くとツールバーやステータスバーの挙動が変わる。
      https://qiita.com/na-trium-144/items/0add98a80ca2391e3f17
      スクロール可能なトップページとshareには置かず、それ以外には上下端に置く
      */
      .fn-ios-dummy-block {
        @apply fixed inset-x-0;
        height: 11px;
        @apply z-ios-dummy-block pointer-events-none;
        @apply bg-clip-text;
        &.fn-ios-dummy-block-top {
          @apply top-0;
          background-color: var(--fn-theme-top);
        }
        &.fn-ios-dummy-block-bottom {
          @apply bottom-0;
          background-color: var(--fn-theme-bottom);
        }
      }
    }
  }
}
body.fn-body {
  &:not(:has(> .fn-body-scrollable)) {
    @apply w-full h-full overflow-hidden touch-none;
  }
  &:has(> .fn-body-scrollable) {
    @apply w-full min-h-(--100dvh) overflow-hidden;
  }

  &.fn-csr-ready {
    @apply fg-base;

    > .fn-fallback-bg {
      @apply fixed inset-x-0 top-0 h-(--100dvh) pointer-events-none z-fallback-bg;
      @apply bg-gradient-to-t;
      @apply bg-sky-50 from-sky-50 to-sky-200;
      @apply dark:bg-orange-950 dark:from-orange-950 dark:to-orange-975;
    }
  }
}

@layer components {
  .fn-irasutoya-like-bg {
    /* absoluteにするとなぜかSafariでパフォーマンスが大幅に低下する。 */
    @apply fixed top-0 left-0 w-screen pointer-events-none z-irasutoya-like-bg;

    #bgGradient > stop {
      &:nth-child(1) {
        stop-color: var(--color-sky-200);
        @variant dark {
          stop-color: var(--color-orange-975);
        }
      }
      &:nth-child(2) {
        stop-color: var(--color-sky-50);
        @variant dark {
          stop-color: var(--color-orange-950);
        }
      }
    }
  }
  .fn-irasutoya-like-grass-far {
    @apply fixed pointer-events-none z-irasutoya-like-grass-far;

    rect:not(.dummy) {
      fill: var(--color-lime-600);
      @variant dark {
        fill: var(--color-lime-900);
      }
    }
  }
  .fn-irasutoya-like-grass-near {
    @apply fixed pointer-events-none z-irasutoya-like-grass-near;

    #grassPattern > g {
      fill: var(--color-lime-200);
      @variant dark {
        fill: var(--color-lime-600);
      }
    }
    #grassGradient > stop {
      &:nth-child(1) {
        stop-color: var(--color-lime-300);
        @variant dark {
          stop-color: var(--color-lime-700);
        }
      }
      &:nth-child(2) {
        stop-color: var(--color-lime-500);
        @variant dark {
          stop-color: var(--color-lime-800);
        }
      }
      &:nth-child(3) {
        stop-color: var(--color-lime-600);
        @variant dark {
          stop-color: var(--color-lime-900);
        }
      }
    }
  }

  .fn-dev-safe-area {
    @apply z-dev-safe-area fixed bg-red-500 opacity-20 pointer-events-none;

    &.fn-dev-sai-t {
      @apply top-0 h-sai-t inset-x-0;
    }
    &.fn-dev-sai-b {
      @apply bottom-0 h-sai-b inset-x-0;
    }
    &.fn-dev-sai-l {
      @apply left-0 w-sai-l inset-y-0;
    }
    &.fn-dev-sai-r {
      @apply right-0 w-sai-r inset-y-0;
    }
  }
}
