@layer components {
  .fn-link-1 {
    @apply cursor-pointer hover:text-slate-500 active:text-slate-600;
    @apply hover:dark:text-stone-400 active:dark:text-stone-500;
  }

  .fn-link-2 {
    @apply cursor-pointer hover:text-blue-600 hover:underline active:text-blue-700;
    @apply hover:dark:text-blue-400 active:dark:text-blue-600;
  }

  .fn-link-3 {
    @apply cursor-pointer hover:text-blue-600 hover:underline active:text-blue-700;
    @apply hover:dark:text-blue-400 active:dark:text-blue-600;
    @apply text-blue-800 dark:text-blue-500;
  }
}
