@keyframes fn-result-score-jumping {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    transform: translateY(-25%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
