@import "tailwindcss";
@theme {
  --breakpoint-main-wide: 48rem; /* タイトルと各タブの内容が別ページ */
  --breakpoint-share-wide2: 35rem; /* sharedResultのrankとjudgeを横並びにする */
  --breakpoint-edit-wide: 50rem; /* editのPC表示 */
  --breakpoint-share-yt-wide: 60rem; /* shareでYouTubeを表示する場所が変わる */
  --color-orange-975: #20100a;
  --color-amber-975: #20180a;
  --blur-2xs: 2px;
}
@custom-variant dark (&:where(.dark, .dark *));

.font-title,
.font-main-ui.font-title {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}
.font-main-ui,
body {
  font-family: "Merriweather", "Kaisei Opti", serif;
}

/* tailwind css の user-select: none だけでは足りなかった */
.select-none {
  /*//選択制御*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*//ポップアップメニュー表示制御*/
  -webkit-touch-callout: none;
  
  -webkit-text-size-adjust: none;
}
.appearance-none {
  appearance: none;
  -webkit-appearance: none;
}
