@import "tailwindcss";
@theme {
  --breakpoint-main-wide: 48rem; /* タイトルと各タブの内容が別ページ */
  --breakpoint-share-wide2: 35rem; /* sharedResultのrankとjudgeを横並びにする */
  --breakpoint-edit-wide: 50rem; /* editのPC表示 */
  --breakpoint-share-yt-wide: 60rem; /* shareでYouTubeを表示する場所が変わる */
  --color-orange-975: #20100a; /* この色ってどうやって作ったの? 記憶にない */
  --color-amber-975: #20180a;
  --color-sky-975: #091823;
  --color-default: var(--color-slate-800);
  --color-default-dark: var(--color-stone-300);
  --container-main-nav: 16rem;
  --container-main: 88rem;
  --container-mobile-header: 3.25rem; /* MobileHeader を編集したら変えること */
  --container-mobile-footer: 3.75rem; /* MobileFooter を編集したら変えること */
  --text-1_5xl: 1.375rem; /* 22px */
  --text-2_5xl: 1.6875rem; /* 27px */
  --blur-2xs: 2px;
  --radius-box: 1.5rem;
  --shadow-modal: var(--shadow-md);
  --inset-shadow-button: inset 0.25rem 0.5rem 1rem;
  --font-main-ui: "Merriweather", "Kaisei Opti", serif;
  --font-title:
    "Noto Sans", "Noto Sans Variable", "Noto Sans JP", "Noto Sans JP Variable",
    sans-serif;
  --default-font-family: var(--font-main-ui);
}
@custom-variant dark (&:where(.dark, .dark *));

/* utilities */
@import "./styles/utilities.css";
@import "./styles/squircle.css";

/* components in ./common/ */
@import "./styles/glass.css";
@import "./styles/box.css";
@import "./styles/button.css";
@import "./styles/flat-button.css";
@import "./styles/input.css";
@import "./styles/link.css";
@import "./styles/pager.css";
@import "./styles/scrollable.css";
@import "./styles/irasutoya-like.css";

/* other components */
@import "./styles/main.css";
@import "./styles/chart-list.css";

/* other */
@import "./styles/result.css";
@import "./styles/scrollbar.css";
@import "./styles/ace.css";
