@import "tailwindcss";
@import "./styles/box.css";
@import "./styles/button.css";
@import "./styles/flat-button.css";
@import "./styles/input.css";
@import "./styles/link.css";
@import "./styles/pager.css";
@import "./styles/chart-list.css";

@theme {
  --breakpoint-main-wide: 48rem; /* タイトルと各タブの内容が別ページ */
  --breakpoint-share-wide2: 35rem; /* sharedResultのrankとjudgeを横並びにする */
  --breakpoint-edit-wide: 50rem; /* editのPC表示 */
  --breakpoint-share-yt-wide: 60rem; /* shareでYouTubeを表示する場所が変わる */
  --color-orange-975: #20100a; /* この色ってどうやって作ったの? 記憶にない */
  --color-amber-975: #20180a;
  --color-sky-975: #091823;
  --color-default: var(--color-slate-800);
  --color-default-dark: var(--color-stone-300);
  --blur-2xs: 2px;
  --radius-box: 1.25rem;
  --shadow-modal: var(--shadow-md);
  --inset-shadow-button: inset 0.25rem 0.5rem 1rem;
}
@custom-variant dark (&:where(.dark, .dark *));

.font-title,
.font-main-ui.font-title {
  font-family: "Noto Sans", "Noto Sans JP", sans-serif;
}
.font-main-ui,
body {
  font-family: "Merriweather", "Kaisei Opti", serif;
}

body {
  --scrollbar-color-thumb: color-mix(
    in oklab,
    var(--color-default) 65%,
    transparent
  );
  &:where(.dark, .dark *) {
    --scrollbar-color-thumb: color-mix(
      in oklab,
      var(--color-default-dark) 65%,
      transparent
    );
  }
  --scrollbar-color-track: transparent;

  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
}
/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
    @apply rounded-full;
  }
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }
}

/* Aceの背景色などを上書き */
.ace_editor:not(.ace_autocomplete) {
  @apply bg-transparent! rounded-[inherit];
}
.ace_editor * {
  @apply rounded-[unset];
}
.ace-tomorrow .ace_gutter {
  @apply bg-slate-400/25!;
}
.ace-tomorrow-night .ace_gutter {
  @apply bg-black/25!;
}
.ace_gutter-active-line {
  @apply bg-transparent!;
}

/* tailwind css の user-select: none だけでは足りなかった */
.select-none {
  /*//選択制御*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*//ポップアップメニュー表示制御*/
  -webkit-touch-callout: none;

  -webkit-text-size-adjust: none;
}
.appearance-none {
  appearance: none;
  -webkit-appearance: none;
}
