name: Node.js CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: ["main", "staging"]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - run: pnpm run lint
    - run: pnpm run nbuild
      env:
        ALLOW_FETCH_ERROR: "1"

  test:
    runs-on: ubuntu-latest
    env:
      MONGODB_URI: mongodb://localhost:27017
      API_ENV: development
      # API_NO_RATELIMIT: "1"
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - run: pnpm run mongo-docker
    - run: pnpm run test

  format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - run: pnpm exec prettier --check .

  vercel-build:
    runs-on: ubuntu-latest
    # 外部コントリビューターでないPRの場合のみ
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository && github.actor != 'dependabot[bot]'
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - name: Pull Vercel Environment Information
      run: pnpm exec vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
    - name: Build Project Artifacts
      env:
        MONGODB_URI: ${{ secrets.PRODUCTION_MONGODB_URI }}
        VERSION_SUFFIX: "+#${{ github.event.number }}"
        TITLE_SUFFIX: "Preview #${{ github.event.number }}"
      run: pnpm exec vercel build --token=${{ secrets.VERCEL_TOKEN }}
    - name: Upload .vercel/output
      uses: actions/upload-artifact@v4
      with:
        name: vercel-output
        path: .vercel/output
        include-hidden-files: true

  vercel-deploy:
    needs: [lint, test, vercel-build]
    runs-on: ubuntu-latest
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    steps:
    # .vercel/output と、それとは別に node_modules も必要
    - uses: actions/checkout@v4
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'pnpm'
    - run: pnpm install --frozen-lockfile
    - name: Pull Vercel Environment Information
      run: pnpm exec vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
    - name: Download .vercel/output
      uses: actions/download-artifact@v4
      with:
        name: vercel-output
        path: .vercel/output
    - name: Deploy Project Artifacts to Vercel
      run: pnpm exec vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

  notify-failure:
    # lint, test, format のいずれかが失敗した場合に実行
    needs: [lint, test, format]
    if: failure() && github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Notify Discord
        env:
          DISCORD_WEBHOOK: ${{ secrets.ACTION_FAILURE_DISCORD_WEBHOOK }}
        run: |
          curl -H "Content-Type: application/json" \
               -d "{\"content\": \"**mainブランチにテストが通らないコードがpushされているよ！ばかやろう！**\nCommit: https://github.com/${{ github.repository }}/commit/${{ github.sha }}\"}" \
               $DISCORD_WEBHOOK